#main-container{
    min-height: 100vh;
    background-color: #F4F4F4;
}

.hidden{
    display: none;
}

#title{
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: black;
}

#title-flask-logo{
    width: 80%;
    object-fit: contain;
}

.title-text{
    padding: 5px 0;
    color: blanchedalmond;
}

#server-not-detected-text{
    color: red;
}

#server-not-detected-ip{
    max-width: 300px;
}

#group-post-message{
    max-width: 540px;
}

#message-post{
    word-break: break-word;
    overflow: hidden;
    resize: none;
}

.text-center{
    text-align: center;
    margin: 20px 0;
}

.specific-width{
    width: 100px;
}

#tweet-logo{
    height: 70px;
    width: 90px;
}

.tweet-icons{
    margin: 0 10px;
}

.card-body {
    padding: 0.1rem 1.25rem;
    word-break: break-all;
}
